# **Data Types and Structures Code**

1. Write a code to create a string with your name and print it?

In [ ]:
name = "John"  # Replace with your name
print(name)

John

2.Write a code to find the length of the string "Hello World"?

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
string = "Python Programming"
sliced_part = string[:3]
print(sliced_part)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Index starts from 0
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Creating a tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Defining the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_to_last = colors[-2]

# Printing the result
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Defining the tuple
numbers = (10, 20, 5, 15)

# Finding the minimum number
min_number = min(numbers)

# Printing the result
print(min_number)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Defining the tuple
animals = ('dog', 'cat', 'rabbit')

# Finding the index of "cat"
cat_index = animals.index('cat')

# Printing the result
print(cat_index)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Creating a tuple with three different fruits
fruits = ('apple', 'banana', 'orange')

# Checking if "kiwi" is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Creating a set
my_set = {'a', 'b', 'c'}

# Printing the set
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Clearing all elements from the set
my_set.clear()

# Printing the set after clearing
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4}

# Removing the element 4
my_set.remove(4)

# Printing the set after removal
print(my_set)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union using the union() method
union_set = set1.union(set2)

# Printing the result
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection using the intersection() method
intersection_set = set1.intersection(set2)

# Printing the result
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Printing the dictionary
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Creating the dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

# Printing the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Creating the dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value of the key "name"
name_value = person['name']  # Using dictionary indexing

# Printing the result
print(name_value)

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Creating the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age"
del person['age']

# Printing the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Creating the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all the data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [ ]:
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print(random_numbers)

[15, 45, 48, 57, 58]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Creating a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Printing the element at the third index (zero-based indexing)
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Creating two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merging dictionaries
dict1.update(dict2)

# Printing the result
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set.

In [ ]:
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Converting the list to a set
my_set = set(my_list)

# Printing the result
print(my_set)

{'cherry', 'apple', 'banana'}