# **Functions Prectical**

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list

In [ ]:
def sum_of_evens(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sum_of_evens(numbers))  # Output: 30

30

2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
text = "Hello, World!"
print(reverse_string(text))  # Output: "!dlroW ,olleH"

!dlroW ,olleH

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Example usage
nums = [1, 2, 3, 4, 5]
print(square_numbers(nums))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Checking prime numbers from 1 to 200
prime_numbers = [num for num in range(1, 201) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5.  Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [1]:
class FibonacciIterator:
    def __init__(self, n): self.n, self.a, self.b, self.count = n, 0, 1, 0
    def __iter__(self): return self
    def __next__(self):
        if self.count >= self.n: raise StopIteration
        self.a, self.b, self.count = self.b, self.a + self.b, self.count + 1
        return self.a if self.count > 1 else self.a - (self.a, self.b)[0]

# Example usage:
n_terms = 10
for num in FibonacciIterator(n_terms):
    print(num)

0
1
2
3
5
8
13
21
34
55

6.  Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [2]:
def powers_of_2(max_exponent):
    for exp in range(max_exponent + 1):
        yield 2 ** exp

# Example usage:
max_exponent = 10
for value in powers_of_2(max_exponent):
    print(value)

1
2
4
8
16
32
64
128
256
512
1024

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [24]:
def read_file_line_by_line(file_path):
  """
  Reads a file line by line and yields each line as a string.

  Args:
    file_path: The path to the file to read.

  Yields:
    Each line in the file as a string.
  """
  with open(file_path, 'r') as file:
    for line in file:
      yield line

# Example usage:
# file_path = 'your_file.txt'  # Replace with the actual file path
# for line in read_file_line_by_line(file_path):
#   print(line)

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [15]:
tuples_list = [(1, 3), (4, 1), (2, 5), (3, 2)]

# Sorting based on the second element of each tuple
tuples_list.sort(key=lambda x: x[1])

# Example usage:
print(tuples_list)  # Output: [(4, 1), (3, 2), (1, 3), (2, 5)]

[(4, 1), (3, 2), (1, 3), (2, 5)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [25]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

celsius_temperatures = [0, 10, 20, 30, 40, 100]
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))

# Example usage:
print(fahrenheit_temperatures)  # Output: [32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

[32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [26]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return "".join(filter(lambda char: char not in vowels, s))

# Example usage:
input_string = "Hello, World!"
result = remove_vowels(input_string)
print(result)  # Output: "Hll, Wrld!"

Hll, Wrld!

11. Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

In [27]:
# Input list with sublists
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Using lambda and map to calculate the order value with condition
result = list(
    map(
        lambda order: (
            order[0],  # Order number
            order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)
        ),
        orders
    )
)

# Printing the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]